<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.Title}}</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	<link href="https://bootswatch.com/paper/bootstrap.css" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Microservices Website</a>
        </div>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 style="margin-top: 40px">Welcome to the wonderful world of Microservices!</h1>
        <p>
		  This is a test site for working with Microservices. It includes
		  multiple services as well as multiple versions of those services.
		  It should be awesome, in a non-awesome kind of way.
		</p>
      </div>
    </div>

	{{if .Error}}
    <div class="container">
      <!-- Error container -->
      <div class="row">
        <div class="col-md-8 col-md-offset-2 alert alert-danger">
          <p style="font-size: 24px">ERROR!!@!!!!!!!</p>

		  <p>{{.Error}}</p>
        </div>
      </div>
	</div>
	{{end}}
	  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h3>Hey</h3>

          <p>You've got strings. We've got info.</p>

		  <div>
			<input id="str" name="str" type="text" class="form-control" placeholder="Enter string here" />
		  </div>
          <p><a class="btn btn-default" href="javascript:getInfo()" role="button">Get details &raquo;</a></p>
        </div>
        <div class="col-md-6">
		  {{if .Info}}
          <h2>"{{.Info.Val}}"</h2>

		  <p>String length: {{.Info.Length}}</p>
		  {{end}}
		</div>
      </div>

      <hr>

      <footer>
        <p>&copy; Checkboxes Unlimited</p>
      </footer>
    </div>

	<script>
	  function getInfo() {
	    var testStr = document.getElementById('str').value;
	    var newUrl = '/info/' + testStr;
	    console.log('Loading page: ' + newUrl);
	    location = newUrl;
	  }
	</script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
